CompileFlags:
  Compiler: gcc
  Add:
    - "--std=c++2b"
    - "-I../rang/include"
    - "-I../include"

Diagnostics:
  ClangTidy:
    Add:
      - modernize-*
      - readability-*
      - cppcoreguidelines-*
    Remove:
      - cppcoreguidelines-pro-type-union-access
